#viz1639788148310 {
    width: 50%;
}
#viz1639788315472 {
    width: 50%
}
#viz1639788551682 {
    width: 50%
}
#viz1639788626143 {
    width: 50%
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
p{
    color: rosybrown;
}
p{
    text-align: center;
}
.tableaulink{
    text-align: center;
}
.pages{
    text-align: right;
}
.pages{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}